@charset "UTF-8";
.auth_ttl {
  font-size: 18px;
  font-weight: bold;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cont form {
  padding: 50px 24px 50px;
  margin: 0 auto;
  max-width: 327px; }
  .cont form .select_box {
    position: relative;
    margin: 0 auto; }
    .cont form .select_box select {
      width: 100%;
      padding: 17px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #C7C7C7;
      margin: 0 auto 15px;
      font-size: 13px;
      display: block;
      background-color: #DDDDDD; }
    .cont form .select_box::before {
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      right: 12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10.4px 6px 0 6px;
      border-color: #a2a2a2 transparent transparent transparent; }
  .cont form input {
    width: 100%;
    padding: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
    margin: 0 auto 15px;
    font-size: 13px;
    display: block;
    background-color: #DDDDDD; }
  .cont form .common_btn {
    margin: 20px auto 28px;
    background-color: #F2784A;
    font-size: 16px;
    padding: 0;
    border: none;
    max-width: inherit; }
  .cont form textarea {
    width: 100%;
    padding: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
    margin: 0 auto 15px;
    font-size: 13px;
    display: block;
    background-color: #DDDDDD; }
  .cont form .input_name {
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px; }

#login {
  background-color: #F4F4F4; }
  #login .auth_ttl {
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    background-position: center center; }
  #login .cont {
    padding-top: 53px; }
  #login .no_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    color: #2183D6;
    margin: 0 auto; }
    #login .no_login a:first-child {
      color: #000000; }
  #login .logout {
    display: none; }
  #login .sns_login {
    max-width: 326px;
    margin: 0 auto;
    padding-top: 15px;
    border-top: 1px solid #D9D9D9; }
    #login .sns_login p {
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 20px; }
    #login .sns_login a {
      font-size: 13px;
      width: 153px;
      height: 33px;
      line-height: 33px;
      border-radius: 17px;
      display: inline-block;
      text-align: center;
      color: #ffffff; }
    #login .sns_login .facebook {
      background: #425A94; }
    #login .sns_login .twitter {
      background: #4AA0EB; }
    #login .sns_login .sns_login_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }

#welcome {
  background-color: #F4F4F4; }
  #welcome .auth_ttl {
    background-image: url(../img/welcome.svg);
    background-repeat: no-repeat;
    background-position: center center; }
  #welcome .cont {
    padding-top: 53px; }
  #welcome .no_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    color: #2183D6;
    margin: 0 auto 50px; }
    #welcome .no_login a:first-child {
      color: #000000; }
  #welcome .logout {
    display: none; }

#resetpassword {
  background-color: #F4F4F4; }
  #resetpassword .auth_ttl {
    background-image: url(../img/resetpassword.svg);
    background-repeat: no-repeat;
    background-position: center center; }
  #resetpassword .cont {
    padding-top: 53px; }
  #resetpassword .no_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    color: #2183D6;
    margin: 0 auto 50px; }
  #resetpassword .logout {
    display: none; }
  #resetpassword .attention {
    font-size: 13px;
    color: #A2A2A2;
    margin: 0 auto 50px;
    line-height: 1.846; }

#edit {
  background-color: #F4F4F4; }
  #edit .user_icon {
    text-align: center;
    position: relative; }
    #edit .user_icon::after {
      content: '編集';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 12px; }
    #edit .user_icon img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  #edit .auth_ttl {
    background-image: url(../img/resetpassword.svg);
    background-repeat: no-repeat;
    background-position: center center; }
  #edit .cont {
    padding-top: 53px; }
  #edit .no_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    color: #2183D6;
    margin: 0 auto 50px; }
  #edit .logout {
    display: none; }
  #edit .attention {
    font-size: 13px;
    color: #A2A2A2;
    margin: 0 auto 50px;
    line-height: 1.846; }
  #edit .cont form {
    padding-top: 20px;
    max-width: 350px; }
    #edit .cont form input, #edit .cont form textarea, #edit .cont form .select_box select {
      margin-bottom: 30px; }
    #edit .cont form .public_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 20px; }
      #edit .cont form .public_btn .input_name {
        padding: 0;
        margin: 0;
        width: auto;
        padding-right: 15px; }
      #edit .cont form .public_btn input {
        margin: 0;
        width: auto; }
      #edit .cont form .public_btn .label--checkbox {
        position: relative;
        line-height: 135%;
        cursor: pointer;
        width: 20px;
        height: 20px; }
      #edit .cont form .public_btn .checkbox {
        position: relative;
        cursor: pointer; }
        #edit .cont form .public_btn .checkbox:before {
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          content: "";
          position: absolute;
          left: 0;
          z-index: 1;
          width: 1rem;
          height: 1rem;
          border: 2px solid #f2f2f2; }
        #edit .cont form .public_btn .checkbox:checked:before {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          height: .5rem;
          border-color: #F2784A;
          border-top-style: none;
          border-right-style: none; }
        #edit .cont form .public_btn .checkbox:after {
          content: "";
          position: absolute;
          top: rem(-2);
          left: 0;
          width: 1.1rem;
          height: 1.1rem;
          background: #DDDDDD;
          cursor: pointer; }
  #edit .common_btn {
    background: #A2A2A2;
    margin-top: 67px; }
