#message .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #message .follow a:nth-child(2),
  #message .follow p:nth-child(2) {
    margin-left: 15px; }

#message_switching {
  padding: 50px 0 451px;
  min-height: 60vh; }
  #message_switching .cont {
    margin: 0 auto;
    padding: 50px 0; }
  #message_switching .tab {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #EFEFEF;
    top: 50px;
    z-index: 2; }
    #message_switching .tab .inner {
      max-width: 1000px;
      margin: 0 auto;
      width: calc( 100% - 30px);
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #message_switching .tab .back {
      display: block;
      position: absolute;
      left: 8px;
      top: 10px;
      width: 7px;
      height: 7px;
      border-left: 2px solid #707070;
      border-bottom: 2px solid #707070;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    @media all and (min-width: 981px) {
      #message_switching .tab {
        top: 60px; } }
  #message_switching .comment_area {
    max-width: 1000px;
    margin: 0 auto;
    width: calc( 100% - 30px);
    padding: 19px 0 30px;
    border-bottom: 1px solid #D9D9D9; }
    #message_switching .comment_area .comment_ttl {
      font-size: 14px;
      font-weight: bold; }
    #message_switching .comment_area .contributor, #message_switching .comment_area .etcetera {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 0 17px; }
    #message_switching .comment_area .contributor {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #message_switching .comment_area .contributor .comment_box {
        background: #F8F5DF;
        margin-right: 20px; }
        #message_switching .comment_area .contributor .comment_box::before {
          content: '';
          display: block;
          position: absolute;
          right: -8px;
          top: 14px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8.245px 0 8.245px 8.25px;
          border-color: transparent transparent transparent #F8F5DF; }
    #message_switching .comment_area .etcetera {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      #message_switching .comment_area .etcetera .comment_box {
        background: #EFEFEF;
        margin-left: 20px; }
        #message_switching .comment_area .etcetera .comment_box::before {
          content: '';
          display: block;
          position: absolute;
          left: -8px;
          top: 14px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8.245px 8.25px 8.245px 0;
          border-color: transparent #efefef transparent transparent; }
    #message_switching .comment_area .user_icon img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
    #message_switching .comment_area .comment_box {
      width: 75%;
      border-radius: 4px;
      padding: 16px 12px;
      font-size: 12px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative; }
      #message_switching .comment_area .comment_box .name {
        font-weight: bold;
        padding-bottom: 10px; }
      #message_switching .comment_area .comment_box .comment {
        line-height: 1.75; }
      #message_switching .comment_area .comment_box .date {
        color: #A2A2A2;
        font-size: 10px;
        position: absolute;
        bottom: -20px;
        right: 0; }
  #message_switching .comment_input {
    padding: 20px 10px;
    border-top: 1px solid #D9D9D9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #ffffff;
    z-index: 2; }
    @media all and (min-width: 981px) {
      #message_switching .comment_input {
        bottom: 0; } }
    #message_switching .comment_input form {
      max-width: 500px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #message_switching .comment_input textarea {
      display: block;
      padding: 10px 17px;
      height: 46px;
      font-size: 13px;
      line-height: 2;
      background: #EFEFEF;
      width: 75%;
      color: #000000;
      border-radius: 3px;
      border: 1px solid #C7C7C7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    #message_switching .comment_input a {
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      background: #F2784A;
      display: block;
      border-radius: 4px;
      text-align: center;
      width: 20%;
      height: 46px;
      line-height: 46px; }
  #message_switching #footer {
    bottom: 87px; }
