#notice {
  background: #EFEFEF; }
  #notice .notice_name {
    font-size: 13px; }
  #notice .notice_ago {
    font-size: 11px;
    color: #A2A2A2;
    padding: 8px 0 0; }
  #notice .cont .user {
    padding: 12px 0;
    position: relative; }
    #notice .cont .user::before {
      content: '';
      display: block;
      position: absolute;
      width: 100vw;
      height: 1px;
      background: #D9D9D9;
      bottom: 0;
      left: -15px;
      /* 751 */ }
      @media all and (min-width: 751px) {
        #notice .cont .user::before {
          display: none; } }

#news {
  background: #EFEFEF;
  /* 751 */ }
  #news #news_box {
    width: 100%; }
  #news .post_content {
    background: none; }
  #news .news_ttl {
    font-size: 16px;
    font-weight: bold;
    line-height: 2; }
  #news .news_day {
    font-size: 11px;
    color: #A2A2A2;
    padding: 22px 0 16px; }
  #news .news_cont {
    font-size: 12px;
    line-height: 1.6667; }
  @media all and (max-width: 750px) {
    #news .inner {
      padding-top: 22px;
      max-width: 1000px;
      margin: 0 auto;
      width: calc( 100% - 30px); } }
  @media all and (min-width: 751px) {
    #news .news_ttl {
      font-size: 20px; }
    #news .news_day {
      font-size: 13px; }
    #news .news_cont {
      font-size: 14px; } }
